    <div class="column">
        <div class="ui grid segment">
            <div class="sixteen wide column">
            	<h1>Bug</h1>
	            <div class="ui grid">
	    			<div class="five wide column">
	    				<checkbox size="large" ng-model="bug.showLogo" type="toggle">Show Logo</checkbox>
	    			</div>
	    			<div class="five wide column">
	    				<checkbox size="large" ng-model="bug.showClock" type="toggle">Show Clock</checkbox>
	    			</div>
	    			<div class="five wide column">
	    				<checkbox size="large" ng-model="bug.showLive" type="toggle">Show Live</checkbox>
	    			</div>
	 			</div>
            </div>
        </div>
    </div>