/*
 *      Genrixc LA1TV Colour Theme
 */


@primary:      #ffffff;
@primary-bg:   #ff0000;
@secondry:     #fff;
@secondry-bg:  #000;

@gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
/*
 *===================================
 *         Crawler
 *===================================
 */


 .scroll-left {
   height: 50px;
   width: 100%:
   overflow: hidden;
   position: relative;

   background-color: @primary-bg;
   background-image: @gradient;
   opacity: 0.6;
 }

 .scroll-left p {
   position: absolute;
   width: auto;
   white-space: nowrap;
   height: 100%;
   margin: 0;
   opacity: 1;
   line-height: 55px;
   bottom: 5px;
   text-align: center;
   color:  @primary;
   text-shadow:1px -1px 0px #000;
   font-size: 40px;
   font-weight: normal;
   /* Starting position */
   -moz-transform:translateX(100%);
   -webkit-transform:translateX(100%);
   transform:translateX(100%);
   /* Apply animation to this element */
   -moz-animation: scroll-left 30s linear infinite;
   -webkit-animation: scroll-left 30s linear infinite;
   animation: scroll-left 30s linear infinite;
   }
   /* Move it (define the animation) */
   @-moz-keyframes scroll-left {
   0%   { -moz-transform: translateX(1280px); }
   100% { -moz-transform: translateX(-100%); }
   }
   @-webkit-keyframes scroll-left {
   0%   { -webkit-transform: translateX(1280px); }
   100% { -webkit-transform: translateX(-100%); }
   }
   @keyframes scroll-left {
   0%   {
     -moz-transform: translateX(1280px); /* Browser bug fix */
     -webkit-transform: translateX(1280px); /* Browser bug fix */
     transform: translateX(1280px);
   }
   100% {
     -moz-transform: translateX(-100%); /* Browser bug fix */
     -webkit-transform: translateX(-100%); /* Browser bug fix */
     transform: translateX(-100%);
   }
 }

/*
 *===================================
 *         Lower Thirds
 *===================================
 */

.lowerthird {
    min-width: 30%;
    width: 40%;
    border-radius: 5px;
    border-left: 6px solid #fff;

    h1 {
        color:  @primary;
        text-shadow:1px -1px 0px #000;
        font-size: 40px;
        font-size: 2.5vw;
        font-weight: normal;
        padding: 5px;

        background-color: @primary-bg;
        background-image: @gradient;
    }

    h2 {
        color: @secondry;
        font-size: 35px;
        font-weight: normal;
        padding: 5px;

        background-color: @secondry-bg;
        background-image: @gradient;
    }
}
/*
 *===================================
 *         Grid
 *===================================
 */

 .grid {

    width: 650px;
    text-align: center;

    border-radius: 5px;
    border: 8px solid rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.4);
    background-clip: padding-box;

    h1 {
        color:  @primary;
        text-shadow:1px -1px 0px #000;
        font-size: 40px;
        font-size: 2.5vw;
        font-weight: normal;
        padding: 5px;

        background-color: @primary-bg;
        background-image: @gradient;
    }

    .name, .time {
        float: left;
        line-height: 40px;
        padding-left: 5px;
        background-color: #4B0082;
        background-image: @gradient;
        font-size: 25px;
    }

    .name {
        padding-left: 10px;
        text-align: left;
        width: 498px;
    }

    .time {
        width: 130px;
        margin-left: 5px;
    }

    .row {
        color: #fff;
        margin-top: 5px;
    }

    .row:last-child {
        margin-bottom: 5px;
    }
 }

 /**************************************************/
/*              [Live Bug]                        */
/**************************************************/

.bug {
    white-space: nowrap;
    clear: none;


    h1 {
        color: @primary;
        display: inline;
        padding: 5px;
        text-shadow:1px -1px 0px #000;
        font-size: 30px;
        font-size: 1.7vw;
        font-weight: normal;
    }

    .live {
        background-color: @primary-bg;
        -webkit-animation: pulse-color 5s infinite;
        background-image: @gradient;
    }

    .black {
        background-color: #000;
        background-image: @gradient;
    }
}

//CSS pulsate live colour
@-webkit-keyframes pulse-color {
    0% {
        background-color: lighten(@primary-bg, 7.5%);
        background-image: @gradient;
    }

    50% {
        background: darken(@primary-bg, 3.5%);
        background-image: @gradient;
    }

    100% {
        background: lighten(@primary-bg, 7.5%);
        background-image: @gradient;
    }
}

/**************************************************/
/*              [Logo]                            */
/**************************************************/

.logo {
    opacity: 0.5;
    top: 40px;
}
