body{
	background-color: #f6f6f6;
}

.m-b-reset{
	margin-bottom: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui .message{
	padding-top: 30px !important;
	padding-bottom:  50px !important;
}

.m-top-10{
	margin-top: 10px !important;
}

.hidden{
	opacity: 0;
}

.ui .button{
	text-transform: capitalize;
}

.ui.grid {
	margin-right: 0rem;
}

/* =============== [Site Header] =============== */
.top-header h1 {
	font-size: 5rem;
	background-color: #000;
  	color: transparent;
  	text-shadow: 0px 1px 1px rgba(255,255,255,1);
  	-webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.ui.top-header.menu {
	background-color: #cc0022;
	box-shadow: none;
	border-radius: 0rem;
}

/* =============== [Navigation] =============== */
.stripe.inverted {
	background-color: #333;
	padding-bottom: 50px;
}

.ui.icon.white a {
	display: block;
	padding: 15px 10px 5px;
	color: #fff;
	border-radius: 6px;
}

.ui.icon.white a:hover {
	color: #fff;
	background-color: #555;
}

.ui.icon.white .icon {
  font-size: 1.5em;
}

/* =============== [Main Content] =============== */
.ui.segment h1 {
	border-bottom: 1px solid #333;
}

.ui.grid.top-take-50 {
	margin-top: -65px !important;
}

.main-content {
	width: 75%;
}
